!!! XHTML
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title= @title||app_name
    %link{:rel => 'stylesheet', :href => "/style.css"}
    :javascript
      var channel = "#{@channel}";
    :css
      body {
        background-color : ##{@bg_color};
      }
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    != yield_content :html_head
  %body
    %div#content
      %div#header
        != yield_content :header
      %div#main
        != yield
      %hr
      %div#footer
        != yield_content :footer
        sinatra-rocketio v#{Sinatra::RocketIO::VERSION} -
        - src_url = 'https://github.com/shokai/rocketio-chat-sample'
        %a{:href => src_url}= src_url
    != yield_content :html_foot
